rect {
    fill: none;
    pointer-events: all;
}

.sphere {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-opacity: .2;
}

.mesh {
    stroke: #000;
}

.connector {
    stroke: #000;
}

.bbox {
    stroke: #ff1a1c;
    fill: none;
}

.dot {
    fill: #ff1a1c;
    stroke: #ff1a1c;
}

.info {
    font-size: 16px;
    text-anchor: middle;
}

.selected {
    fill: #fffd46;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
}