rect {
    fill: none;
    pointer-events: all;
}

.sphere {
    fill: none;
/*    stroke: #ccc;
    shape-rendering: crispEdges;*/
}

.graticule {
    fill: none;
/*    stroke: #777;
    stroke-opacity: .2;*/
}

.mesh {
    stroke: #000;
}

.connector {
    stroke: #000;
}

.bbox {
    stroke: #ff1a1c;
    fill: none;
}

.dot {
    fill: #ff1a1c;
    stroke: #ff1a1c;
}

.info {
    font-size: 16px;
    text-anchor: middle;
    fill: #ffffff;
}

.selected {
    fill: #fffd46;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
}

.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 1.5;
}
.autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}

.highlight {
    color: #31b0d5 !important;
}

.autocomplete-custom-template div {
    height: 500px;
}

.svg-tooltip {
    fill: #000000;
}

.sparkline {
    stroke-width: 1px;
    stroke: #ffffff;
    fill: none;
}

.sparkline-point {
    fill: red;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.tooltip:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}