<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="bg-info">Trans-Pacific Partnership Tariff Schedule Visualization</h2>

            <p>Below is a map of the 12 member states of the Trans-Pacific Partnership.
                Use the search bar to select an internationally traded good and then click on two countries to see
                the tariff schedule for those goods between those two member states.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form ng-submit="">
                <label for="htsCodeInput">Choose Internationally Traded Good (HTS 8, 2010 Version):</label>
                <md-autocomplete
                        md-selected-item="htsCode"
                        md-search-text="searchText"
                        md-items="item in getMatches(searchText)"
                        md-item-text="item[1]"
                        placeholder=""
                        md-input-id="htsCodeInput"
                        md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
                            <md-icon md-svg-icon="static/icons/chemical.svg"></md-icon>
                            <span md-highlight-text="searchText" md-highlight-flags="i">{{item[1]}}</span>
                        </span>
                        <span class="item-metadata">
                            <span class="item-metastat">
                                HTS 8 Code: <strong>{{item[0]}}</strong>
                            </span>
                        </span>

                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <d3_map id="map"/>
        </div>
    </div>
</div>

